<div class="user-details">
  <h2>Assignment:</h2>

  <p>1. change the 'any' to a defined model/interface/class</p>
  <p>2. when the user clicks on the left navigation name, the user details will be displayed here.</p>
  <p>3. TRY TO FIND A BETTER PLACE FOR THE API CALL. (right now, its at the worst place)</p>

  <p>
    hints:
    USE interface.
    try to USE routing.
  </p>
</div>
