:host {
  padding: 0.25rem;
  text-align: center;
  color: cornflowerblue;
  background-color: white;
  font-size: 1.25rem;

  &:hover {
    background-color: cornflowerblue;
    color: white;
  }
}
span {
  cursor: pointer;
}
